*, *:before, *:after {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#toggleBlur {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1;
  padding: 0.5em;
  font-size: 0.75em;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px;
  background-color: #d9d9d9e6;
  font-family: 'Raleway';
  opacity: 1;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #e6c462;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #5865f2;
  text-decoration: none;
  transition: color .3s;
}

nav .links a:hover {
  color: #5865f2a0;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 0px;
  transition: all .3s ease-in-out;
}

#map {
  margin: auto;
  width: 75%;
  height: 75%;
  border-radius: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#map {
}

